*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}
header{
    background-image: linear-gradient(#03045E, #0077B6, #90E0EF);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* width: 100%; */
   
}
.aboutme{
    padding:3rem .5rem;
    text-align: center;   

}
.description{
    color: beige;
}
.mywork{
    background: #03045E;
    color: beige;
    margin: 3rem 0 0 0;
    padding: 2rem;
}
h1{
    font-size: 4em;
    
}
h2{
    font-size: 2em;
}
p, div{
    padding: .7rem;
}
a{
    text-decoration: none;
}
a img:hover{
    transform: scale(1.2);
}
.portrait{
    width: 80%;
    border-radius: 10%;
    
}
main, footer{
    text-align: center;
}
main section:nth-child(2n), main section:nth-child(2n) a{
    background-color: #0077B6;
    color: #f5f5dc;
    text-decoration: none;
}
main section:nth-child(2n) a:hover, a:hover{
    text-decoration: underline;
}

footer{
    padding: 1rem;
    margin-top: 4rem;
    background-image: linear-gradient(#03045E, #0077B6);
    color: beige;
}
footer div img, .description a img{
    width: 15%;
    max-width: 80px;
}

div img{
    width: 350px;
    filter: drop-shadow(0 0 .5rem #90e0ef);
    /* border: 1px solid #ccc; */

}
@media screen and (min-width: 600px){
    header{
        /* height: 100vh;     */
        border-radius: 15px 30% 15px; 
        margin: .5rem;   
    }
    section div{
        display: grid;
        grid-template-columns: 2.5fr 1fr;
        gap: 2rem;
        margin: 0 4rem;
    }
    section div img{
        width: 100%;
        
     
    }
    .one, .three, .four{
        grid-column: 1/2;
        gap: 0;
        width: 60%;
        justify-self: center;
        
    }
    .one{
        grid-row: 1/2;
    }
    .two{
        grid-column: 2/3;
        grid-row: 1/4;
    }
    .three{
        grid-row: 2/3;
    }
    .four{
        grid-row: 3/4;
    }
    
    .aboutme{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding: 8% 1rem;
        align-items: center;
       
       
    }
    .portrait{
        max-width: 400px;
        border-radius: 10%;
        width: 100%;
        border: 1px solid beige;
        
    }
   
}